.display-4.landing-heading {
    font-weight: 600;
    color: white;
}

.lead {
    color: white;
    font-weight: 400;
    font-size: 1.45rem;
}

.my-4 {
    color: white;
}

.jumbo-address {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}

.jumbotron {
    background-image: url('imgs/the-bar.jpg');
    background-size: cover;
}