@import 'nav',
'footer',
'carousel',
'menu',
'jumbo',
'admin',
'card';
card-cont {
    padding: 2rem;
}

.landing-card {
    padding: 1.2rem;
}

.row.about {
    margin: auto;
}

h3.text-center.about {
    margin-bottom: 2rem;
    margin-top: 2rem;
}